@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(189, 200, 189);
    line-height: 1.5;
}

main {
    width: 1000px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;  
    margin: 0 auto;
    background-color: rgb(253, 255, 230);
}

h1 {
    text-align: center;
    background-color: rgb(10, 58, 10);
    color: rgb(253, 255, 230);
    font-weight: bold;
    font-size: 38px;
    margin: 0 auto;
}

article {
    margin: 20px 5px;
}

section {
    margin: 20px 0;
}

article h2 {
    color: rgb(10, 58, 10);
    background-color: rgb(253, 255, 230);
}

article h3 {
    font-size: 24px;
    color: rgb(18, 28, 18);
    line-height: 1.1;
    margin: 5px 5px;
}

aside {
    border: 1px solid rgb(10, 58, 10);
    margin: 20px 50px;
    padding: 0 5px;
}

code {
    float: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    color: lightsalmon;
    background-color: #303030;
}

table {
    border: 1px solid rgb(10, 58, 10);
    column-gap: 0;
    border-spacing: 2px;
}

th {
    background-color: rgb(10, 58, 10);
    color: rgb(253, 255, 230);
    padding: 0 5px;
}

td {
    border-top: 1px solid rgb(10, 58, 10);
    padding-right: 10px;
}

tr:first-child td {
    border: none;
}

footer {
    margin-top: 30px;
    background-color: rgb(10, 58, 10);    
    color: rgb(253, 255, 230);    
}

footer p {
    padding: 5px 20px;
}
